@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<!-- 

        Đây là source code miễn phí của Chun Chun aka Dương Thị Ngọc Huyền
        Vui lòng không xoá comment của tớ.   
    
        Hãy ủng hộ tớ bằng cách donate cho tớ nhé (donate là tấm lòng, bao nhiêu tớ cũng nhận :v ): 
        Tên chủ tài khoản: Dương Thị Ngọc Huyền
        Số tài khoản: 0362033808
        Ngân hàng: VPBank, TPBank, Momo, ZaloPay

        Hãy liên hệ với tớ nếu cậu có nhu cầu mua source code hoặc thuê tớ làm đồ án nhé, giá siêuuu ưu đãi
        Zalo của tớ: 0362033808
        Github của tớ: chunjiss
        Youtube: https://www.youtube.com/@chunjiss

-->
